<p id="notice"><%= notice %></p>

<p>
  <b>Suggestion:</b>
  <%= @suggestion.suggestion %>
</p>

<p>
  <b>Rating:</b>
  <%= @suggestion.rating %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@suggestion.user_id).firstName %> <%= User.find(@suggestion.user_id).lastName %>
</p>


<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
